/* personal portfolio */

/* font-family: 'Amatic SC', cursive;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Sue Ellen Francisco', cursive; */

/* ------mobile------- */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.5;
}


nav {
    font-family: 'Amatic SC', cursive;
    padding-left: auto;
    padding-right: auto;
}

h1, h2 {
    font-family: 'Amatic SC', cursive;
    /* font-family: 'Sue Ellen Francisco', cursive; */
    padding-left: 1.5em;
    padding-top: 1em;
}

nav {
    text-align: center;
    font-size: 20px;
}

p a {

    color: rgb(92, 91, 91);
    border: 1px solid black;
    border-radius: 2.5px;
    padding-left: 2em;
    padding-right: 2em;
    width: 150px;
}


a img {
    height: 100px;
    width: auto;
    border-radius: 5px;
    
}
a:hover {
    background-color: rgb(92, 91, 91);
    color: white;
  }

ul {
    
    list-style-type: circle;
    list-style-position: outside;
    list-style-image: none;
  }

/* ul li {
    display: inline;
} */

.bio-container, .skills, .card, .work-history {
    padding: 1em 2em 1em 2em;
    margin: 2em;
}

